<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Luxury Restaurant</title>
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/media.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

	<!-- header -->
	<header>
		<div class="bg-inner">
			<div class="logo-container">
				<img src="./img/logo.png" alt="Лого" class="logo">
			</div>
			<nav class="menu">
				<ul class="menu-list">
					<li class="menu-item"><a href="#" class="bold">HOME</a></li>
					<li class="menu-item"><a href="#" class="bold">MENU</a></li>
					<li class="menu-item"><a href="#" class="bold">RESERVATION</a></li>
					<li class="menu-item"><a href="#" class="bold">RECIPE</a></li>
					<li class="menu-item"><a href="#" class="bold">BLOG</a></li>
					<li class="menu-item"><a href="#" class="bold">PAGES</a></li>
					<li class="menu-item"><a href="#" class="bold">CONTACT</a></li>
				</ul>
			</nav>
			<a href="#" class="btn">
				<img src="./img/order.png" alt="Звонок для ресепшн" class="btn-icon">
				<p class="btn-text">BOOK YOUR TABLE</p>
			</a>
		</div>
	</header>
	<!-- ./header -->

	<!-- banner -->
	<div class="banner">
		<div class="bg-inner">
			<h1 class="banner-title">Teast your fav dish</h1>
			<h2 class="banner-sub-title">from <span class="yellow">luxury restaurant.</span></h2>
		</div>
	</div>
	<!-- ./banner -->

	<!-- below-banner -->
	<div class="below-banner">
		<div class="bg-inner">
			<div class="icon-container"><img src="./img/phone.png" alt="Телефон" class="icon-phone"></div>
			<h3 class="bellow-banner-title black bold">call us now for <span class="yellow">home delivery</span></h3>
			<h1 class="phone-number black">1-008 005 006</h1>
		</div>
	</div>
	<!-- ./below-banner -->

	<!-- about-restaurent -->
	<div class="about-restaurent">
		<div class="bg-inner">

			<div class="about-restaurent-content">
				<h2 class="about-restaurent-title black">About Restaurent</h2>
				<p class="about-restaurent-text">Lorem Ipsum is simply dummy text of the printing and typesetting
					industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
					unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
					not only five centuries, but also the leap into electronic typesetting, remaining essentially
					unchanged <span><a href="#">...</a></span></p>
				<a href="#" class="btn">READ MORE</a>
			</div>

			<div class="gallery">
				<div class="gallery-left-coll">
					<img src="./img/food1.jpg" alt="Фото еды из галлереи">
					<img src="./img/food2.jpg" alt="Фото еды из галлереи">
				</div>
				<div class="galery-right-coll">
					<img src="./img/food3.jpg" alt="Фото еды из галлереи">
					<img src="./img/food4.jpg" alt="Фото еды из галлереи">
				</div>
			</div>

		</div>
	</div>
	<!-- ./about-restaurent-->

	<!-- today-special -->
	<div class="today-special">
		<div class="bg-inner">
			<h1 class="today-special-title">Today Special</h1>

			<!-- today-special-colls -->
			<div class="today-special-colls">

				<div class="today-special-left-coll">
					<img src="./img/dish.jpg" alt="Картинка блюда">
					<h2 class="today-special-sub-title black">Food Name One</h2>
					<p class="today-special-text">printing and typesetting industry. Lorem Ipsum has been the industry's
						standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
						scrambled.</p>
					<div class="line"></div>
					<div class="today-special-bottom-panel">
						<h3 class="bottom-panel-title black">HOME <span class="pink">DELIVERY</span></h3>
						<div class="ver-line"></div>
						<h1 class="phone-number black">1-008 005 006</h1>
						<h3 class="price yellow"><sup>$</sup>89.00</h3>
					</div>
				</div>

				<div class="today-special-right-coll">
					<img src="./img/dish1.jpg" alt="Картинка блюда">
					<h2 class="today-special-sub-title black">Food Name Two</h2>
					<p class="today-special-text">printing and typesetting industry. Lorem Ipsum has been the industry's
						standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
						scrambled.</p>
					<div class="line"></div>
					<div class="today-special-bottom-panel">
						<h3 class="bottom-panel-title black">HOME <span class="pink">DELIVERY</span></h3>
						<div class="ver-line"></div>
						<h1 class="phone-number black">1-008 005 006</h1>
						<h3 class="price yellow"><sup>$</sup>99.00</h3>
					</div>
				</div>

			</div>
			<!-- ./today-special-colls -->


		</div>
	</div>
	<!-- ./today-special -->

	<!-- footer -->
	<footer>
		<div class="bg-inner">

			<div class="links">
				<a href="#" class="facebook-container">
					<img src="./img/fb.png" alt="Фейсбук" class="facebook-icon">
				</a>
				<a href="#" class="twitter-container">
					<img src="./img/tw.png" alt="Твиттер" class="twitter-icon">
				</a>
				<a href="#" class="google-container">
					<img src="./img/g.png" alt="Гугл" class="google-icon">
				</a>
			</div>

			<div class="copywriter-container">
				<div class="line"></div>
				<p class="copywriter">2020 <sup>&#169;</sup> ALL RIGHTS RESERVED</p>
				<div class="line"></div>
			</div>

		</div>
	</footer>
	<!-- ./footer -->

	<script src="js/main.js"></script>
</body>

</html>