* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'HeeboRegular', sans-serif;
	font-size: 12px;

	margin: 0 auto;
}

body > * {
	display: flex;
	justify-content: center;	
}

img {
	max-width: 100%;
}

ul, li {
	display: block;
}

a {
    text-decoration: none;

    font-family: 'HeeboBold', serif;
}

section,
header {
    padding: 4rem 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'HeeboBold', serif;
}

/* =============
	other	
============= */

.bg_inner {
	max-width: 1440px;
	width: 100%;
	height: 100%;

	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bg_inner > * {
	min-height: 100%;
}

.blue {
	color: #0d73fc;
}
.sn_article .bg_inner > *,
.sn_partners .bg_inner > * {
    flex-basis: 100%;

    text-align: center;
}

/* =============
	header	
============= */

.sn_cap_of_website {
    color: #fff;

    background-image: url(./../img/header.jpg);
    background-size: cover;
    background-position: center;

    padding: 7.25rem 0 7.8rem 0;
}

.sn_cap_of_website .bg_inner {
    flex-direction: column;
    justify-content: flex-start;
}

.sn_cap_of_website .bg_inner > * {
    margin: auto 9rem;
}

.sn_cap_of_website_sub_title {
    font-size: 0.97rem;
    letter-spacing: -0.03rem;
}

.sn_cap_of_website .sn_cap_of_website_title {
    font-size: 3.9rem;
    letter-spacing: -0.25rem;

    margin-top: 0.3rem;
    margin-bottom: 1.4rem;
}

.sn_cap_of_website_block {
    position: relative;

    height: 4px;
    width: 4.25rem;

    background-color: #0d73fc;
}

.sn_cap_of_website_block::before {
    content: '';

    position: absolute;
    top: 0;
    right: -1.4rem;
    
    height: 4px;
    width: 1.2rem;

    background-color: #fff;
}

/* =============
	sn_article	
============= */

.sn_article .bg_inner > * {
    margin-left: 7.5rem;
    margin-right: 7.5rem;
}

.sn_article_sub_title {
    margin-top: 5rem;

    letter-spacing: -0.03rem;
}

.sn_article_title {
    font-size: 2.65rem;
    letter-spacing: -0.145rem;

    margin: 0.50rem 0 0.75rem 0;
}

.sn_article p.sn_article_sub_text {
    flex-basis: 45%;
    
    font-size: 1rem;
    line-height: 1.9rem;
    letter-spacing: 0.0015rem;

    margin: 0 27.5% 6.9rem 27.5%;
}

.sn_article_blocks_art_line {
    display: flex;
    justify-content: center;
}

.sn_article div.sn_article_block_art {
    flex-basis: 31%;

    margin: 1% 1% 1.5% 1%;

    height: 26.2rem;

    background-size: cover;

    display: flex;
    align-items: flex-end;
}

.sn_article_block_description {
    background-color: #fff;

    flex-basis: 95%;

    margin: 0 5% 4% 5%;
    padding: 0 9.5% 0% 9.5%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
}

.sn_article_art_title {
    text-align: left;

    margin-top: 2.1rem;

    font-size: 1.2rem;
    letter-spacing: -0.09rem;
    line-height: 1.4rem;
}

.sn_article_art_href {
    position: relative;

    margin: 0.5rem 0 2.35rem 0;

    font-size: 0.9rem;
    letter-spacing: 0.014rem;
}

.sn_article_art_href::after {
    content: '';

    position: absolute;

    top: 55%;
    right: -3.8rem;

    width: 3rem;
    height: 1px;

    background-color: #0d73fc;
}

.sn_article a.sn_article_contact_href {
    padding: 0.69rem 1.4rem;
    margin: 5.16rem auto 4.6rem auto;

    border: 2px solid #0d73fc;

    flex-basis: 9%;

    font-size: 1rem;
}

/* =============
	sn_partners	
============= */

.sn_partners {
    margin-top: 5rem;
    padding-top: 7rem;

    background-color: #eef2f5;

    position: relative;
}

.sn_partners_block_bg {
    position: absolute;

    left: 0;
    top: -4.3rem;

    width: 50%;
    height: 4.3rem;

    background-color: #eef2f5;
}

.sn_partners_sub_title {
    margin: 2rem 0 0.55rem 0;

    letter-spacing: -0.05rem;
}

.sn_partners_title {
    font-size: 2.55rem;
    letter-spacing: -0.1rem;
}

.sn_partners_company_list {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 11rem;
    margin-right: 9.2rem;
}

.sn_partners li.sn_partners_company_logo_container {
    flex-basis: 22%;

    margin: 3.79rem 1.5%;

    display: flex;
    align-items: center;
}

